{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="product-detail-container">

    <div class="product-detail-image">

        {% if product.image %}
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
        {% endif %}

    </div>

    <div class="product-detail-info">

        <h1>{{ product.name }}</h1>

        <h3>{{ product.category }}</h3>

        <h2>₹ {{ product.price }}</h2>

        <p>{{ product.description }}</p>

        <a href="{% url 'add_to_cart' product.id %}">
            <button>Add to Art Bag</button>
        </a>

    </div>

</div>

{% endblock %}