<nav class="navbar">
    <div class="logo">
        🎭 <span>KalaVerse</span>
    </div>

    <ul class="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">Art Essentials</a></li>
        <li><a href="#">Learn</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">About</a></li>
    </ul>

    <div class="nav-buttons">

      {% if user.is_authenticated %}

        <span style="margin-right:15px;">
            Hi, {{ user.username }}
        </span>

        <a href="{% url 'logout' %}">
            <button class="login-btn">Logout</button>
        </a>

      {% else %}

        <a href="{% url 'login' %}">
            <button class="login-btn">Login</button>
        </a>

      {% endif %}

    </div>
</nav>